body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

#app {
    max-width: 900px;
    margin: auto;
    padding: 15px;
}

.card {
    background: rgba(255,255,255,0.06);
    padding: 15px;
    margin: 10px 0;
    border-radius: 12px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 10px;
    border: none;
}

button {
    background: #2563eb;
    color: white;
    cursor: pointer;
}

#ad {
    display: none;
}

#admin {
    display: none;
}

/* IMPRESSUM */
#impressum {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
}

#impressum .box {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
}
